.paginationBttns {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.paginationBttns a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 2px solid #303f9f;
	cursor: pointer;
	text-decoration: none;
}

.paginationBttns a:hover {
	background: #303f9f;
	color: white !important;
}

.paginationActive {
	color: white;
}

.paginationActive a {
	background: #303f9f;
	color: white;
}

.previousButton,.nextButton {
    background: #303f9f;
	color: white;
}

.previousButton:hover,
.nextButton:hover{
    text-decoration: none;
    outline: none;
}

@media only screen and (max-width: 700px) {
	.paginationActive a {
		background: #303f9f;
		color: white;
	}
	.paginationBttns {
		font-size: 8px;
	}
}
