.big {
	width: 83vw;
	font-size: 1rem;
}
.small {
	width: 38vw;
	font-size: 1rem !important;
}
.divtxt {
	border-radius: 1.5vw;
	outline: none;
	padding: 10px;
	background: rgb(228, 228, 228);
	margin-top: -15px;
	margin-bottom: 15px;
	border: none;
}
::placeholder {
	color: grey;
}
.divsmall {
	width: 40vw;
}
.divbig {
	width: 85vw;
}
.division {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	color: #09386f;
	margin: 10px;
	padding-top: 10px;
	border-radius: 2vw;
}
.scc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.scci {
	margin-top: 25px;
}

.sc {
	margin: 10px;
	text-align: center;
	max-width: 18rem;
	height: 20rem;
	border-radius: 1.3rem;
	background-color: white;
}

.stepcontainer{
	margin-top: -7rem;
	height: auto;
	width: 90%;
	background: #09386f;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 20px;
	padding: 20px;
}

.sci {
	width: 18rem;
	height: 15rem;
	border-radius: 1.3rem;
	border-bottom: 1px solid #09386f;
}

.sctext {
	margin-top: 10px;
	padding-bottom: 10px;
	color: #09386f;
	text-decoration: none;
}

.cntext {
	font-size: 1.4rem;
	font-weight: 500;
}

.chtext {
	font-size: 1.8rem;
	font-weight: 650;
}

.cname {
	font-size: 2rem;
	font-weight: bold;
	text-shadow: 0 0 3px #0000, 0 0 3px #09386f;
}

.sname1 {
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 0 0 3px #0000, 0 0 3px #09386f;
}

.sname2 {
	font-size: 1.8rem;
	font-weight: bold;
	text-shadow: 0 0 3px #0000, 0 0 3px #09386f;
}

.sntext {
	font-size: 1.4rem;
	font-weight: 500;
	margin-left: 2vw;
}

.button1 {
	height: 40px;
	width: 150px;
	border-radius: 20px !important;
	text-align: center;
	margin: 5px;
	font-size: 15px;
	border: solid !important;
	border-color: white !important;
	background: #4a6ad1 !important;
	color: white;
}

.button1:hover {
	background: #09386f !important;
}

.coursevideo {
	width: 60vw;
	border-radius: 4vw;
	margin: 3vw;
	outline: none;
}

.courseimg {
	display: 'block';
	width: 55vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.active {
	background: transparent;
	border: solid;
	border-color: white;
	font-size: 15px;
	width: 15vw;
	margin-top: 15px;
	height: 50px;
	color: white;
	border-radius: 5px;
}

.mcqButton {
	font-size: 15px;
	width: 15vw;
	margin-top: 15px;
	height: 50px;
	border: none;
	background: #4a6ad1;
	color: white;
	border-radius: 5px;
}

.mcqSubmit {
	font-size: 15px;
	width: 10vw;
	margin-top: 25px;
	height: 40px;
	border: solid;
	border-color: white;
	background: #4a6ad1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	color: white;
}

.mcqSubmit:hover {
	background: #09386f;
}

.mcqbuttondiv {
	display: flex;
	width: 40vw;
	flex-wrap: wrap;
	justify-content: space-around;
}

.mcqquestion {
	font-size: 2rem;
}

.query {
	font-size: 1.4rem;
}

.answer {
	font-size: 1.2rem;
}

.accordheader {
	font-size: 1.8rem !important;
	border: solid !important;
	border-color: white !important;
}

.boxlabel {
	font-size: 1.5rem;
}

@media only screen and (max-width: 750px) {
	.divtxt{
		border-radius: 20px;
	}
	.division{
		border-radius: 20px;
	}
	.stepcontainer{
		width: 98%;
	}
	.sc {
		width: 15rem;
		height: 17rem;
		border-radius: 1.1rem;
		background-color: white;
	}

	.sctext {
		margin-top: 8px;
		padding-bottom: 8px;
		color: #09386f;
		text-decoration: none;
	}

	.cntext {
		font-size: 1rem;
	}

	.chtext {
		font-size: 1.2rem;
	}

	.cname {
		font-size: 1.3rem;
		font-weight: bold;
	}

	.sname1 {
		font-size: 1.2rem;
		font-weight: bold;
		text-shadow: 0 0 3px #0000, 0 0 3px #09386f;
	}

	.sname2 {
		font-size: 1.5rem;
		font-weight: bold;
		text-shadow: 0 0 3px #0000, 0 0 3px #09386f;
	}

	.sntext {
		font-size: 1rem;
		font-weight: 500;
		margin-left: 2vw;
	}

	.sci {
		width: 15rem;
		height: 13rem;
		border-radius: 1.1rem;
	}

	.courseimg {
		display: 'block';
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.coursevideo {
		width: 85vw;
		border-radius: 4vw;
		margin: 3vw;
	}

	.mcqSubmit {
		width: 20vw;
	}

	.mcqButton,
	.active {
		width: 25vw;
	}

	.mcqbuttondiv {
		display: flex;
		width: 70%;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-left: auto;
		margin-right: auto;
	}

	.mcqquestion {
		font-size: 1.5rem;
	}

	.query {
		font-size: 1rem;
	}

	.answer {
		font-size: 0.9rem;
	}

	.accordheader {
		font-size: 1rem !important;
	}

	.boxlabel {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 600px) {
	.divtxt{
		border-radius: 15px;
	}
	.division{
		border-radius: 15px;
	}

	.stepcontainer{
		width: 98%;
	}

	.sc {
		width: 12rem;
		height: 14rem;
		border-radius: 0.9rem;
		background-color: white;
	}

	.sctext {
		font-size: 15px;
		margin-top: 5px;
		padding-bottom: 5px;
		color: #09386f;
		text-decoration: none;
	}

	.sci {
		width: 12rem;
		height: 9.5rem;
		border-radius: 0.9rem;
	}

	.mcqquestion {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 500px) {
	.divtxt{
		border-radius: 12px;
	}
	.division{
		border-radius: 12px;
	}

	.sc {
		width: 10rem;
		height: 11rem;
		border-radius: 0.7rem;
		background-color: white;
	}

	.sctext {
		font-size: 12px;
		margin-top: 5px;
		padding-bottom: 5px;
		color: #09386f;
		text-decoration: none;
	}

	.sci {
		width: 10rem;
		height: 7.5rem;
		border-radius: 0.7rem;
	}

	.big {
		font-size: 0.7rem;
	}
	.small {
		font-size: 0.7rem !important;
	}
	.boxlabel {
		font-size: 0.7rem;
	}
}

@media only screen and (max-width: 420px) {
	.divtxt{
		border-radius: 10px;
	}
	.division{
		border-radius: 10px;
	}

	.sc {
		width: 8rem;
		height: 10rem;
		border-radius: 0.7rem;
		background-color: white;
	}

	.sctext {
		font-size: 12px;
		margin-top: 5px;
		padding-bottom: 5px;
		color: #09386f;
		text-decoration: none;
	}

	.sci {
		width: 8rem;
		height: 6.5rem;
		border-radius: 0.7rem;
	}

	.big {
		font-size: 0.5rem;
	}
	.small {
		font-size: 0.5rem !important;
	}
	.boxlabel {
		font-size: 0.5rem;
	}
}