.adminMain {
	height: 100vh;
}

.adminNav {
	height: 60px;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px;
	overflow: hidden;
	background-color: #303f9f;
	position: fixed;
	top: 0;
	width: 100%;
	color: white;
	box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.4);
	z-index: 999;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.adminSb {
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	background: white;
	width: 200px;
	padding-top: 15px;
	position: fixed;
	z-index: 50;
	box-shadow: 4px 0px 4px 0px rgb(0, 0, 0, 0.4);
	transition: 0.5s;
}

.adminContent {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
}

.adminSections {
	margin-left: 210px;
	width: 100%;
	padding: 10px;
}

.sb_open {
	display: none;
}

#sb_close {
	display: none;
}

.smAdminSb {
	display: block;
}

.adminSbLink {
	font-size: 18px;
	font-weight: 500;
	color: black;
	margin-top: 15px;
	cursor: pointer;
}

.sbActive {
	background: #303f9f;
	height: 40px;
	box-shadow: 0px 3px 4px rgb(0, 0, 0, 0.3), 0px -1px 2px rgb(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 15px 15px 0px;
	color: white;
}

@media only screen and (max-width: 700px) {
	.adminSb {
		margin-top: -60px;
		padding-top: 60px;
	}

	.adminNav {
		z-index: 10;
	}

	.adminSections {
		margin-left: 0px;
		width: 100%;
		padding: 10px;
	}

	.smAdminSb {
		display: none;
	}

	.sb_open {
		display: block;
		cursor: pointer;
	}

	#sb_close {
		display: block;
		font-size: 30px;
		margin-top: -40px;
		margin-bottom: 60px;
		margin-left: 120px;
		cursor: pointer;
	}
}
