.moodcard {
	width: 15rem;
	height: 15rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	border-radius: 2rem;
}

.moodimage {
	width: 15rem;
	height: 15rem;
	border-radius: 2rem;
}

.headmood {
	text-align: center;
	font-size: 4rem;
	font-weight: bolder;
}

.moodspace {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 1176px) {
	.moodcard {
		width: 14rem;
		height: 14rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4rem;
		border-radius: 1.2rem;
	}

	.moodimage {
		width: 14rem;
		height: 14rem;
		border-radius: 1.2rem;
	}

	.headmood {
		font-size: 3.3rem;
	}

    .moodspace {
        display: flex;
        flex-wrap: wrap;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 900px) {
	.moodcard {
		width: 11.5rem;
		height: 11.5rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4rem;
		border-radius: 1.2rem;
	}

	.moodimage {
		width: 11.5rem;
		height: 11.5rem;
		border-radius: 1.2rem;
	}

	.headmood {
		font-size: 2.5rem;
	}

    .moodspace {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 711px) {
	.moodcard {
		width: 9.4rem;
		height: 9.4rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3rem;
		border-radius: 1rem;
	}

	.moodimage {
		width: 9.4rem;
		height: 9.4rem;
		border-radius: 1rem;
	}

	.headmood {
		font-size: 2rem;
	}

    .moodspace {
        display: flex;
        flex-wrap: wrap;
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 540px) {
	.moodcard {
		width: 7.8rem;
		height: 7.8rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		border-radius: 0.8rem;
	}

	.moodimage {
		width: 7.8rem;
		height: 7.8rem;
		border-radius: 0.8rem;
	}

	.headmood {
		font-size: 1.7rem;
	}

    .moodspace {
        display: flex;
        flex-wrap: wrap;
        width: 92vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 410px) {
	.moodcard {
		width: 6.1rem;
		height: 6.1rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		border-radius: 0.6rem;
	}

	.moodimage {
		width: 6.1rem;
		height: 6.1rem;
		border-radius: 0.6rem;
	}

	.headmood {
		font-size: 1.4rem;
	}

    .moodspace {
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
}
