.footermain {
	width: 100%;
	background: white;
	color: #09386f;
}

.footerflex {
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	justify-self: center;
	padding-right: 130px;
}

.footerlogo {
	font-size: 40px;
	align-self: center;
}

.footersocial,
.footercontact {
	font-size: 18px;
}

.hrtag {
	width: 80%;
	border-width: 3px;
	margin-top: -2px;
	border-color: #09386f;
}

.socialLogos{
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 1100px) {
	.footerflex {
		padding-top: 25px;
		padding-bottom: 50px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		padding-right: 0px;
	}

	.socialLogos{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 20px;
	}

	.footerlogo {
		font-size: 40px;
		text-align: center;
		margin-bottom: 10px;
	}

	.footersocial,
	.footercontact {
		text-align: center;
		margin-bottom: 15px;
		color: #09386f;
	}

	.footersocial div{
		color: #09386f;
	}

	.hrtag {
		width: 20%;
		border-width: 3px;
		margin-top: -2px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-color: #09386f;
	}
}
