.btnFacebook {
	width: 18vw;
	height: 50px;
	border-radius: 4px;
	background: #3b5998;
	color: white;
	border: 0px;
	text-align: center;
	display: flex;
	min-width: 150px;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
    margin-bottom: 5px;
}

.btnGoogle {
	width: 18vw;
	height: 50px;
	border-radius: 4px;
	color: white;
	border: 0px;
	border-color: black;
	text-align: center;
	display: flex;
	justify-content: center;
	min-width: 150px;
	margin-top: 5px;
    margin-bottom: 5px;
}

.btnFacebook:hover {
	background: #3b5998;
	opacity: 0.6;
}

.btnGoogle:hover {
	opacity: 0.6;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.submit {
	height: 50px;
}

.MuiButton-fullWidth {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

@media only screen and (max-width: 960px) {
	.btnFacebook {
		width: 28vw;
		height: 50px;
		border-radius: 4px;
		background: #3b5998;
		color: white;
		border: 0px;
		text-align: center;
		display: flex;
		min-width: 150px;
		align-items: center;
		justify-content: center;
	}

	.btnGoogle {
		width: 28vw;
		height: 50px;
		border-radius: 4px;
		color: white;
		border: 0px;
		border-color: black;
		text-align: center;
		display: flex;
		justify-content: center;
		min-width: 150px;
	}
}

@media only screen and (max-width: 599px) {
	.social {
		flex-direction: column;
		align-items: center;
	}
	.btnFacebook {
		width: 84.5vw;
		height: 50px;
		border-radius: 4px;
		background: #3b5998;
		color: white;
		border: 0px;
		text-align: center;
		margin: 5px;
		display: inline-block;
	}

	.btnGoogle {
		margin: 5px;
		width: 84.5vw;
		height: 50px;
		border-radius: 4px;
		color: white;
		border: 0px;
		border-color: black;
		text-align: center;
		display: flex;
		justify-content: center;
	}
}
